<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.2.1" targetFramework="net48" />
  <package id="EasyModbusTCP" version="5.6.0" targetFramework="net48" />
  <package id="ILRepack" version="2.0.40" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest" version="3.8.3" targetFramework="net48" />
  <package id="MSTest.Analyzers" version="3.8.3" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.8.3" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.8.3" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.DiaSymReader" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.CodeCoverage" version="17.13.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.6.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport" version="1.6.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.6.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.6.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.6.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.6.3" targetFramework="net48" />
  <package id="Moq" version="4.20.72" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0-preview.2.25163.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.0" targetFramework="net48" />
</packages>